### Cargo Routing Model

In the cargo-routing problem, we want to allocate the cargo flows over the route network given the **origin-destination demand**:

In [16]:
from os import sys
sys.version

'3.5.1 |Anaconda 2.4.1 (x86_64)| (default, Dec  7 2015, 11:24:55) \n[GCC 4.2.1 (Apple Inc. build 5577)]'

In [18]:
import pandas as pd
demand = pd.read_csv('Demand.csv',header=0,index_col=0)
demand.tail()

,Yokohama,Shimizu,Nagoya,Kobe,Busan,Kwangyang,Dalian,Xingang,Qingdao,Liangyungang,...,Le Havre,Felixstowe,Zeebrugge,Antwerp,Rotterdam,Bremerhaven,Hamburg,Gothenburg,Aarhus,Gdansk
Bremerhaven,1534,274,1158,1232,6555,993,2496,4770,5625,1656,...,0,0,0,0,0,0,0,0,0,0
Hamburg,2371,424,1790,1904,10130,1534,3857,7372,8694,2560,...,0,0,0,0,0,0,0,0,0,0
Gothenburg,277,49,209,222,1182,179,450,860,1014,299,...,0,0,0,0,0,0,0,0,0,0
Aarhus,231,41,174,186,987,149,376,718,847,249,...,0,0,0,0,0,0,0,0,0,0
Gdansk,81,15,61,65,348,53,132,253,298,88,...,0,0,0,0,0,0,0,0,0,0

In [7]:
route = ['a','b','c','d','e','f','g']


for p1 in route:

a a
a b
a c
a d
a e
a f
a g
b a
b b
b c
b d
b e
b f
b g
c a
c b
c c
c d
c e
c f
c g
d a
d b
d c
d d
d e
d f
d g
e a
e b
e c
e d
e e
e f
e g
f a
f b
f c
f d
f e
f f
f g
g a
g b
g c
g d
g e
g f
g g